<h1>Create an User account!</h1>
<div class="row top-row" >
  <div class="col-xs-12 row end-xs">
    <a routerLink="" color="primary" mat-raised-button>
      <mat-icon>chevron_left</mat-icon>
      Go Back
    </a>
  </div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <input type="text" color="accent" style="width: 20em ; height: 5em; margin-top: 5em; margin-right: 90%; margin-left: 20px;" placeholder="enter username" formControlName="username">
  <br> <br>
  <input type="password" color="accent" style="width: 20em ; height: 5em; margin-top: 5em; margin-right: 90%; margin-left: 20px;" placeholder="enter password" formControlName="password">
  <br> <br>
  <input type="text" color="accent" style="width: 20em ; height: 5em; margin-top: 5em; margin-right: 90%; margin-left: 20px;" placeholder="enter email" formControlName="email">
  <br> <br>
  <button mat-raised-button class="button-class" color="accent" style ="margin-left: 30px;"> Register</button>
</form>
