<html>
<head>

  <style>

  </style>
</head>
  <body>
  <div class="container">
    <button mat-raised-button class="button-class" color="primary" style="width: 20em ; height: 5em; margin-top: 5em; margin-right: 90%;" routerLink="/user/authentificate">Login as admin or user</button>
  </div>
  <div class="container">
    <button mat-raised-button class="button-class" color="accent" style="width: 20em ; height: 5em; margin-top: 5em; margin-right: 90%;" routerLink="create/user">Register as user</button>
  </div>
  <div class="container">
    <button mat-raised-button class="button-class" color="warn" style="width: 20em ; height: 5em; margin-top: 5em; margin-right: 90%;" routerLink="/about">Read about us</button>
  </div>
</body>
</html>
