<mat-toolbar color="primary">
  <div class="container">
    <a routerLink="/" mat-fab color="warn" class="home-button">
      <mat-icon>face</mat-icon>
    </a>
    <a routerLink="/volunteers" mat-raised-button style="margin: 1em;">Volunteers</a>
    <a routerLink="/tasks" mat-raised-button style="margin: 1em;">Tasks</a>
    <a routerLink="/about" mat-raised-button style="margin: 1em;">About us</a>
    <a routerLink="/user/authentificate" mat-raised-button style="margin: 1em;">Login</a>
    <a routerLink="/create/user" mat-raised-button style="margin: 1em;">Register</a>


  </div><div class="container">
  </div>

</mat-toolbar>
